
.flex-container {
  display: flex;
  
  
    
}

.flex-container > div  {
  
  margin: 20px;
  padding: 5px;
  font-size: 30px;
  margin-left: 50px;
  background-color:aqua;
    
  
}

body {
  background-image: url("sea.jpg");
  background-color: #cccccc;
 
 }
 h1 {
   text-align: center;
   font-size: 100px;
   color: white;
   

 }
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}